body {
  background-color: rgb(114, 163, 163);
  color: aliceblue;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(106, 73, 126, 0.541);
}

 .footer-container {
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* margin: auto; */
 }

 .footer-list {
   display: flex;
   flex-direction: row;
   list-style: none;
   padding-left: 0;
 }

 .footer-item {
   margin-left: 10px;
 }
 
