.header {
  height: 100px;
  width: 100vw;
  background-color: rgba(72, 104, 18, 0.72);
}
.header__nav {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.header__nav-link a {
  text-decoration: none;
  color: #f9f0da;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__tea-time-logo {
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/tea-cup.svg");
}

.header__tea-time-logo-h1 {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;

  margin-top: 40px;
}

.header__form {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.header__search-input {
  width: 100%;
  height: 62px;
  padding-left: 10px;
  border: 2px solid #093b0a;
  border-radius: 5px;
  outline: none;
  /* background: #F9F0DA; */
  background: #f9f0da;
  color: #9e9c9c;
}
.header__submit-button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 66px;
  height: 62px;
  border: none;
  background: #093b0a;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.header__search-icon {
  width: 54px;
  height: 54px;
  background-image: url("../assets/svg/arrow-right.svg");
}
.header__cart {
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/cart-header.svg");
  z-index: 1;
}
.header__amount-buys {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #093b0a;
  text-align: center;
  padding-top: 8px;
  margin-left: -20px;
  margin-top: -30px;
  z-index: 2;
}
