body {
  background-image: url("https://images.unsplash.com/photo-1561296180-e8100fd714e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f0da;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

header {
  height: 100px;
  width: 100vw;
  background-color: rgba(72, 104, 18, 0.72);
}
nav {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.nav-link a {
  text-decoration: none;
  color: #f9f0da;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tea-time-logo {
  width: 50px;
  height: 50px;

  background-image: url("./assets/svg/tea-cup.svg");
}
.tea-time-logo-h1 {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;

  margin-top: 40px;
}

form {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.search-input {
  width: 100%;
  height: 62px;
  padding-left: 10px;
  border: 2px solid #093b0a;
  border-radius: 5px;
  outline: none;
  /* background: #F9F0DA; */
  background: #f9f0da;
  color: #9e9c9c;
}
.submit-button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 66px;
  height: 62px;
  border: none;
  background: #093b0a;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-icon {
  width: 54px;
  height: 54px;
  background-image: url("./assets/svg/arrow-right.svg");
}
.header-cart {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/cart-header.svg");
  z-index: 1;
}
.amount-buys {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #093b0a;
  text-align: center;
  padding-top: 8px;
  margin-left: -20px;
  margin-top: -30px;
  z-index: 2;
}

.content {
  height: 80vh;
}
.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: rgba(72, 104, 18, 0.72);
}

.footer-container {
  width: 80%;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.footer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-link {
  margin-left: 15px;
  align-self: center;
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

.section-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  margin: 4vw 10vw;
  gap: 10px;
  border-radius: 10px;
}

.section-imgs {
  width: 45%;
  border-radius: 10px;
  background-color: rgba(135, 130, 120, 0.657);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
}

.img-main {
  border-radius: 10px;
  width: 100%;
  height: 30vw;
}

.img-extra {
  border-radius: 10px;
  width: 20%;
  height: 20%;
}

.section-item {
  width: 45%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(135, 130, 120, 0.657);
}

.section-list {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
  color: #f9f0da;
}

.section-item li:first-child {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-title {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: 2rem;
}

.section-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

.amount-form {
  position: relative;
}

.amount-input {
  width: 80px;
  height: 20px;
  padding: 5px 5px 5px 30px;
}
.static-value {
  position: absolute;
  left: 50px;
  color: #444;
  top: 4px;
}

.price {
  width: 120px;
  box-sizing: border-box;
  background-color: red;
  padding: 6px 12px;
  font-size: 1.3rem;
  border: solid 0.5px black;
  color: #f9f0da;
  text-align: center;
}

.cart-button {
  width: 120px;
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
  background-color: darkgreen;
  color: #f9f0da;
}

.cart-button:hover {
  background-color: red;
}

@media screen and (min-width: 360px) and (max-width: 1050px) {
  .section-content {
    width: 100%;
  }

  form {
    width: 400px;
  }

  .section-control {
    flex-direction: column;
  }

  .section-list {
    padding-left: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .section-content {
    width: 100%;
  }

  form {
    width: 300px;
  }

  .item-title {
    font-size: 1.2rem;
  }

  .section-list {
    font-size: 1rem;
    padding-left: 15px;
  }
}
