body {
  /* background: aqua; */
  background-image: url("https://images.unsplash.com/photo-1561296180-e8100fd714e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  height: 10vh;
  width: 100vw;
  background-color: rgba(72, 104, 18, 0.72);
}
nav {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.nav-link a {
  text-decoration: none;
  color: aliceblue;
}
.content {
  height: 80vh;
}
.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: rgba(72, 104, 18, 0.72);
}

.footer-container {
  width: 80%;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.footer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-link {
  margin-left: 15px;
  align-self: center;
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  margin: 40px 100px;
  gap: 10px;
  border-radius: 10px;
}

.section-imgs {
  border-radius: 10px;
  background-color: rgba(135, 130, 120, 0.657);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.img-main {
  border-radius: 10px;
  width: 500px;
  height: 400px;
}

.img-extra {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.section-item {
  border-radius: 10px;
  background-color: rgba(135, 130, 120, 0.657);
}

.section-list {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
  color: #f9f0da;
}

.section-item li:first-child {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-title {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: 2rem;
}

.section-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

.amount-form {
  position: relative;
}

.amount-input {
  width: 80px;
  height: 20px;
  padding: 5px 5px 5px 30px;
}
.static-value {
  position: absolute;
  left: 50px;
  color: #444;
  top: 4px;
}

.price {
  box-sizing: border-box;
  background-color: red;
  padding: 6px 12px;
  font-size: 1.3rem;
  border: solid 1px black;
  color: #f9f0da;
}

.cart-button {
  font-family: "Red-Hat-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
  background-color: darkgreen;
  color: #f9f0da;
}

.cart-button:hover {
  background-color: red;
}
